<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Vue</title>
    <meta charset="UTF-8">
</head>

<body>
    <div id="app">
        <lista-tareas :tareas="tareas"></lista-tareas>
        <nueva-tarea v-on:addnuevatarea="pleaseAgregaTarea"></nueva-tarea>

        <div class="debug">
            <pre>
                {{ tareas }}
            </pre>
        </div>
    </div>



    <!-- TEMPLATES -->
    <template id="new-task">
        <div class="nuevas-tareas">
            <br>Título
            <input type="text" v-model="titulo">
            <br>Descripcion
            <br>
            <textarea cols="30" rows="10" v-model="descripcion"></textarea>
            <br>
            <button v-on:click="addTarea">Añadir tarea</button>
        </div>
    </template>

    <template id="lista-task">
        <div class="tareas">
            <ul>
                <li v-for="tarea in tareas">
                    {{ tarea.title }}
                    <input type="checkbox" v-model="tarea.complete">
                </li>
            </ul>
        </div>
    </template>



    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="bower_components/axios/dist/axios.js"></script>
    <script src="js/1_intro.js"></script>

</body>

</html>